body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

html,
body {
  overflow-y: auto; /* macht das man ganz normal nach unten scrollen kann*/
  overflow-x: hidden; /* hiermit verstecke ich den NEREVIGEN Scrollbalken und muss somit nicht 100 Media Querries erstellen, bei hidden schneidet er die Objekte die Breiter sind einfach ab*/
}

.no-scroll {
  overflow: hidden;
  touch-action: none;  /* verhindert Wischen/Scrollen auf Touch-screens */            
}
html.no-scroll,
body.no-scroll {
  overflow: hidden;  /*verhindert das scrollen mit mausrads*/
  height: 100%;
  touch-action: none;
  overscroll-behavior: none;
}

.header{
  width: 100%;
  height: 80px;
  background: #09212A;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1440px) 1fr;
  align-items: center;
}

/* Logo in  ontent-Spalte */
.fotogram_logo{
  grid-column: 2;
  margin-left: 140px;
  height: 40px;
}

/*Main Content*/
main {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  background: #06171E;
}

/*Überschrift*/
h1 {
  font-size: 56px;
  font-weight: 800;
  text-align: center;
  color: white;
  font-family: figtree;
  padding-top: 160px;
  padding-bottom: 80px;
  margin: 0;
}

/*footer*/
.footer {
  width: 100%;
  height: 128px;
  position: relative;
  background-color: #06171E;
}

/*footer erstes bild (first-child) welches quasi angesprochen wird*/
.footer img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*DA Logo*/
.footer_da_logo {
  position: absolute;
  left: 50%;
  top: 32px;
  transform: translateX(-50%);
  height: 60px;
}

/* Grid-Galerie */
.gallery {
  max-width: 1440px;
  margin: 0;
  display: grid;  /* Automatisch so viele Spalten wie passen (mit px werden die Spalten kleiner und bilder passen sich anders an*/
  grid-template-columns: repeat(auto-fit, 190px);
  gap: 22px;
  justify-content: center;
  align-items: start;
  padding-bottom: 160px;
  color: white;
}

/* Bild-Karten-Look */
.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;   /* macht alle Kacheln quadratisch */
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid rgba(255, 255, 255, 0.10);
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.35);
  transition: transform .2s ease, box-shadow .2s ease, border-color .2s ease;
  cursor: pointer;
}

/*Hover'n*/
.gallery img:hover {
  transform: translateY(-4px) scale(1.02);
  border-color: rgba(0, 255, 255, 0.45);
  box-shadow: 0 16px 38px rgba(0, 0, 0, 0.45);
}

/* Dunkler Hintergrund über der ganzen Seite */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Modal Box */
.lightbox-modal {
  width: 688px;
  height: 675px;
  background: #09212A;
  border-radius: 40px;
  padding: 56px 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Header */
.lightbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 28px;
}

.lightbox-title {
  font-size: 22px;
  font-weight: 700;
}

/* Close Button */
.close {
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  cursor: pointer;
}

/* Image */
.lightbox-img {
  width: 560px;
  height: 374.71px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 auto;
  display: block;
}

/* Footer */
.lightbox-footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

/* Buttons*/
.prev,
.next {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Pfeiltasten zum Weiterschalten*/
.prev img,
.next img {
  width: 60px;
  height: 60px;
}

/*Zurückschalten Hovern*/
.prev img:hover {
  transform: translateY(-4px) scale(1.02);
  border-color: rgba(0, 255, 255, 0.45);
  box-shadow: 0 16px 38px rgba(0, 0, 0, 0.45);
  border-radius: 50%;
}

/*Weiterschalten Hovern*/
.next img:hover {
  transform: translateY(-4px) scale(1.02);
  border-color: rgba(0, 255, 255, 0.45);
  box-shadow: 0 16px 38px rgba(0, 0, 0, 0.45);
  border-radius: 50%;
}

/* Counter */
.lightbox-counter {
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 64px;
  text-align: center;
  font-variant-numeric: tabular-nums;
  /* Ziffern alle gleich breit */
}

/*Schließen Hovern*/
.close:hover {
  transform: translateY(-4px) scale(1.02);
  border-color: rgba(255, 0, 0, 0.45);
  box-shadow: 0 16px 38px rgba(255, 0, 0, 0.45);
  border-radius: 50%;
}

/*Tablet*/
@media(max-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 160px;
    padding: 0 16px 56px;
  }

  h1 {
    font-size: 48px;
    padding-bottom: 56px;

  }


  .lightbox-title {
    font-size: 22px;
    font-weight: 700;
  }
}

/*Smartphone*/
@media (max-width: 768px) {
  .lightbox-modal {
    width: min(420px, 92vw);
    height: min(600px, 88vh);
    padding: 16px;
    display: grid;
    grid-template-rows: 64px 1fr 90px;
    gap: 16px;
    overflow: hidden;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 16px 56px;
    gap: 16px;
  }

  h1 {
    padding-top: 40px;
  }

  .lightbox-header {
    margin: 0;
    align-self: center;
  }

  .lightbox-title {
    max-width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .lightbox-img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    display: block;
  }

  .lightbox-footer {
    margin: 0;
    padding: 0;
    gap: 20px;
    align-self: center;
  }

  .prev,
  .next {
    width: 56px;
    height: 56px;
  }

  .prev img,
  .next img {
    width: 56px;
    height: 56px;
  }
}

@media(max-width: 624px) {
  h1 {
    font-size: 38px;
    padding-top: 40px;
    padding-bottom: 56px;
  }
}


@media(max-width: 483px) {
  .fotogram_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  h1 {
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 56px;
  }
}